/*  your css code here. If applicable */
.container{
    border-top : #5ea4f3; 
    background-color : #f7fbff;
	text-align:center;
}

.inner-container{
    color:white;
    padding:50px;
    height:80%;
    width:80%;
}

h1{
   color: #3b99e0;
}

p{
	color:black;
}

.phone-gallery{
    display:flex;
    flex-direction: column;
}

.mobile{
    display:flex; 
    column-gap: 20px;
}