/*  your css code here. If applicable */
.container{
    border-top : #5ea4f3; 
    background-color : #f7fbff;
}

.inner-container{
    color:white;
    padding:50px;
    height:80%;
    width:80%;
}

h1{
   color: #3b99e0;
}

.phone-gallery{
    display:flex;
    flex-direction: column;
    row-gap:30px;
}

.mobile{
    display:flex; 
    column-gap: 20px;
    
}